{
    "env": {
        "test": {
            "presets": [
                ["env", {
                    "targets": {
                        "browsers": ["last 2 versions", "ie >= 11"]
                    },
                    "useBuiltIns": true
                }],
                "stage-2",
                "react"
            ]
        }
    },
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 2 versions", "ie >= 11"]
            },
            "modules": false,
            "useBuiltIns": true
        }],
        "stage-2",
        "react"
    ]
}
