{
  'env': {
    'browser': true,
    'jest': true
  },
  'extends': 'airbnb',
  'globals': {
    'React': true
  },
  'rules': {
    'arrow-parens': ['error', 'as-needed'],
    'class-methods-use-this': 0,
    'comma-dangle': ['error', 'never'],
    'import/no-named-as-default': 0,
    'func-names': 0,
    'indent': ['error', 4],
    'no-plusplus': ['error', { 'allowForLoopAfterthoughts': true }],
    'prefer-arrow-callback': 0,
    'react/forbid-prop-types': 0,
    'react/jsx-indent': [2, 4],
    'react/jsx-indent-props': [2, 4],
    'react/require-default-props': 0,
    'space-before-function-paren': 0
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "configs/webpack.config.js"
      }
    }
  }
}
