{
  'env': {
    'browser': true,
    'jest': true
  },
  "extends": "airbnb",
  'globals': {
    'React': true
  },
  'rules': {
    'arrow-parens': ['error', 'as-needed'],
    'comma-dangle': ['error', 'always-multiline'],
    'import/no-named-as-default': 0,
    'import/no-named-as-default-member': 0,
    'indent': ['error', 4],
    'react/jsx-indent': [2, 4],
    'react/jsx-indent-props': [2, 4],
    'react/require-default-props': 0
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "configs/webpack.config.js"
      }
    }
  }
}
