---
---

@import "{{ site.theme }}";

.menu {
    display: flex;
}

.menu-item {
    background-color: #ccc;
    cursor: pointer;
    flex-grow: 1;
    margin: 5px;
    padding: 10px;
}

.popup-menu {
    background-color: #ccc;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 3px 0;
    position: absolute;
}

.popup-menu__container {
    display: flex;
    flex-direction: column;
}

.popup-menu-item {
    cursor: pointer;
    white-space: nowrap;
    padding: 5px 20px;

    &:hover {
        background-color: #ccccff
    }
}

.modal-layover {
    background-color: black;
    opacity: 0.3;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.modal-container {
    align-items: center;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #ccccff;
    display: flex;
    flex-direction: column;
    height: 400px;
    position: absolute;
    width: 300px;
}

.modal-enter {
    &.modal-enter-active {
        .modal-container {
            opacity: 1;
            transform: scale(1);
            transition: opacity 300ms, transform 300ms;
        }

        .modal-layover {
            opacity: 0.3;
            transition: opacity 300ms;
        }
    }

    & .modal-container {
        opacity: 0.01;
        transform: scale(0.7)
    }

    & .modal-layover {
        opacity: 0;
    }
}

.modal-exit {
    & .modal-container {
        opacity: 1;
        transform: scale(1);
    }

    & .modal-layover {
        opacity: 0.3;
    }
}

.modal-exit.modal-exit-active {
    & .modal-container {
        opacity: 0.01;
        transform: scale(0.7);
        transition: opacity 300ms, transform 300ms;
    }

    & .modal-layover {
        opacity: 0.01;
        transition: opacity 300ms;
    }
}

.popup-enter {
    opacity: 0.01;

    &.popup-enter-active {
        opacity: 1;
        transition: opacity 100ms ease-in;
    }
}

.popup-exit {
    opacity: 1;

    &.popup-exit-active {
        opacity: 0.01;
        transition: opacity 100ms ease-in;
    }
}
